@model VirtualCompanion.Models.ItemListViewModel

<h1>Inventory</h1>
@if (Model.Items.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Quantity</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No items found.</p>
}
