@model VirtualCompanion.Models.ItemListViewModel

@{
    ViewData["Title"] = $"Inventory ({Model.Items.Count})";
}

@if (Model.Items.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td class="text-light">@item.Name</td>
                    <td class="text-light">@item.Amount</td>
                </tr>
            }
        </tbody>
    </table>
}

else
{
    <div class="text-center pt-5">
        <span class="icon huge material-symbols-rounded me-1">warning</span>
        <p>User does not exist, or has no items.</p>
    </div>
}
