@model VirtualCompanion.Models.ItemListViewModel

@{ViewData["Title"] = $"Inventory ({Model.Items.Count})";}

@if (Model.Items.Any())
{
    <table class="table table-dark table-hover table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Amount</td>
                </tr>
            }
        </tbody>
    </table>

}

else
{
    <div class="text-center pt-5">
        <span class="icon huge material-symbols-rounded me-1">warning</span>
        <p>User does not exist, or has no items.</p>
    </div>
}
