@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="notice p-3">
    <h1>Error.</h1>
    <h3>An error occurred while processing your request. Please contact an adminstrator.</h3>
    
    <br />

    <p>@Model.Message</p>
    @if (Model.ShowRequestId)
    {
        <p>
           Request ID: <code>@Model.RequestId</code>
        </p>
    }
</div>
