/* Main */
html {
    font-size: 16px;
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 50px;
    background-color: #042A2B;
    color: #F0F4EF;
    font-family: 'Work Sans', monospace !important;
}

.notice {
    border: solid;
}

.icon {
    font-size: 20px !important;
}

    .icon.small {
        font-size: 16px !important;
    }

    .icon.huge {
        font-size: 64px !important;
    }

.button {
    font-size: 14px !important;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.25);
    border-width: 1px;
    border-radius: 4px;
    transition: all 0.25s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

    .button:hover {
        color: rgba(255, 255, 255, 1) !important;
        background-color: rgba(255, 255, 255, 0.25);
        border-color: rgba(255, 255, 255, 0.5);
    }

    .button:active {
        color: rgba(255, 255, 255, 1) !important;
        background-color: rgba(255, 255, 255, 0.5);
        border-color: rgba(255, 255, 255, 1 );
    }

    .button.small {
        font-size: 10px !important;
        height: 2rem;
        margin: 0px;
    }

    .button.danger {
        color: rgba(255, 0, 0, 0.85);
        background-color: rgba(255, 0, 0, 0.1);
    }

    .button.nav {
        background-color: transparent;
        border-color: transparent;
        color: rgba(255, 255, 255, 0.25);
        transition: all 0.5s;
    }

    .button.balance {
        background-color: transparent;
        border-color: transparent;
        color: rgba(255, 255, 255, 0.25);
        transition: all 0.5s;
    }


/* Navbar */
.navbar {
    background-color: rgba(0, 0, 0, 0.15);
    height: 40px;
    transition: all .5s;
}
    .navbar:hover {
        background-color: rgba(0, 0, 0, 0.25);
        height: 50px;
        transition: all 0.5s;
    }

    .navbar:hover .button.nav {
        background-color: rgba(255, 255, 255, 0.1);
        border-color: rgba(255, 255, 255, 0.25);
        color: rgba(255, 255, 255, 0.75);
        transition: all 0.5s;
    }

    .navbar:hover .button.balance {
        color: rgba(128, 255, 128, 0.75);
        transition: all 0.5s;
    }

.navbar-brand {
    font-size: 24px;
    font-weight: 700;
    color: rgba(255, 255, 255, .25) !important;
    transition: all 0.25s;
}

    .navbar-brand:hover {
        color: rgba(255, 255, 255, .75) !important;
        font-size: 25px;
    }

    .navbar-brand:active {
        color: rgba(255, 255, 255, .25) !important;
        font-size: 24px;
    }

/* Pets */
.card-pet {
    border: solid;
    border-color: rgba(255, 255, 255, 0.3);
    border-width: 1px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.05);
}

.details-attribute {
    border: solid;
    border-color: rgba(255, 255, 255, 0.1);
    border-width: 1px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.025);
}

.details-description {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.75);
}